.mx{
    margin-left: 3px;
    margin-right: 3px;
}

.mtb{
    margin-top: 200px;
    margin-bottom: 200px;
}

.Avatar{
    width: 500px;
    display: block;
}
.blue  {
    background-color: blue;
    color: blue;
}