body{ background-color: white;
}
.mx{
    margin-left: 5px;
    margin-right: 5px;
}

.mtb{
    margin-top: 200px;
    margin-bottom: 200px;
}

.skills{
    margin-top: 20px;
    margin-bottom: 20px;
}
.Avatar{
    width: 500px;
    display: block;
}
.blue  {
    background-color: blue;
    color: blue;
}

.jumbotron{
    background-color:rgb(105, 98, 98);
    color: whitesmoke;
}
.header-text{
    color:black;
}
.header-font{
    font-size: 4.2rem;
    font-weight: bolder;
}
.work-border{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card-border{
    margin-left: 20px;
    margin-right: 20px;
}